<h3>List of bugs</h3>

<ul ng-repeat="bug in vm.bugs">
  </li>
    {{bug}}
    <button type="button" class="btn btn-primary" ng-click="vm.resolved">Resolved</button>
  </li>
</ul>



<h1>Add a New Bug</h1>

<form>
<div class="input">
  <label>Bug Name</label>
  <input ng-model="vm.bugName"> {{vm.bugName}}
</div>

<div class="input">
  <label>Description</label>
  <input ng-model="vm.description">
</div>

<div class="input">
  <label>Discovered By</label>
  <input ng-model="vm.discoveredBy">
</div>

<div class="input">
  <label>Assigned To</label>
  <input ng-model="vm.assignedTo">
</div>

  <button ng-click="vm.add()">Add Bug</button>
</form>
